// CSS Helpers
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

@media screen and (min-width: $medium) {
  .align-right {
    text-align: right;
  }
}

.uppercase {
  text-transform: uppercase;
}

.valign-wrapper {
  display: table;
  width: 100%;
  height: 100%;

  .valign {
    display: table-cell;
    vertical-align: middle;
  }
}

.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}
