// Menu
nav {
  background: $white;
  color: $background-color2;
  font-size: 1.16rem;
  font-weight: 500;
  line-height: 2em;
  max-width: 100%;
  height: 100vh;
  padding: 8.125rem 3.3rem;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  user-select: none;
  width:18rem;
  z-index: 10;

  transition: transform 0.3s ease-in-out;

  ul {
    list-style: none;

    li {
      cursor: pointer;
      text-transform: uppercase;
    }

    li.active {
      font-weight: 600;
    }
  }
}

nav.open {
  transform: translateX(0);
}
